@import "../../App.scss";

.work-item {
  padding: 3em;
  box-shadow: 0px 3px 3px -3px lighten($clr-dark, 50%);
  @include font-size($fs-h6);

  &:last-child {
    margin-bottom: 2rem;
    border-bottom: 0;
    box-shadow: none;
  }

  &__title {
    @include font-size($fs-h3);
  }

  &__image {
    @include box-shadow();
    margin: 1.5em auto;
    max-width: 850px;
    width: 100%;
  }

  &__main {
    max-width: 850px;
    width: 100%;
    margin: 1.5em auto 0;

    .work-item__text-content {
      margin-bottom: 1.5em;

      .work-item__description {
        margin-bottom: 1em;
      }

      .btn__mywork {
        margin: 0.25em 1em;
        padding: 0.5em 1.5em;
        border-radius: 3px;
        @include font-size(0.9rem);
        background-color: $clr-dark;
        color: $clr-accent;
      }
    }

    .work-item__tech-stack {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      justify-items: center;
      grid-gap: 10px;
      // border: 1px solid brown;

      .tech-stack__brand-icon {
        padding: 0.1em;
        width: 50px;
        height: 50px;
        border: 1px solid lighten($clr-dark, 70%);
        border-radius: 3px;
      }
    }
  }

  // &__footer {
  //   margin-top: 2em;
  //   .container--tech-stack {
  //     max-width: 1100px;
  //     width: 100%;
  //   }
  // }
}
