@import "../../App.scss";

.my-services {
  background-color: $clr-dark;
  background-image: url(/assets/img/my-services-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: $clr-light;
  text-align: center;

  .section__title--services {
    color: $clr-accent;
    position: relative;
  }
  .section__title--services::after {
    content: "";
    display: block;
    width: 5em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
  }

  .services {
    margin-bottom: 4em;
    .service {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
@include screenSizeQuery("md") {
  .my-services {
    .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;

      // sibling selector
      .service + .service {
        margin-left: 2em;
      }
    }
  }
}
