@import "../../App.scss";

.contact {
  background-color: $clr-dark;
  text-align: center;

  .section__title--contact {
    color: $clr-light;
  }

  .section__subtitle--contact {
    color: $clr-accent;
  }

  .contact__img {
    width: 100%;
    max-width: 600px;
    margin: 3em auto;
  }
  .btn--contact {
    padding: 0.75em 2em;
    text-transform: uppercase;
  }
}
