@import "~rfs/scss";

$ff-primary: "Source Sans Pro", sans-serif;
$ff-secondary: "Source Code Pro", monospace;

$fs-h1: 5rem;
$fs-h2: 3.75rem;
$fs-h3: 2.25rem;
$fs-h4: 1.75rem;
$fs-h5: 1.5rem;
$fs-h6: 1.25rem;

$fw-reg: 300;
$fw-bold: 900;

$clr-light: #fff;
$clr-dark: #303030;
$clr-accent: #41f2f5;
