$primary: #fbfbfb;
$secondary: #4f5b66; // grayish
$highlight: #e71d36;
$dark: #343d46;
$light: #e1e1e1;

$link: $light;
$activeLink: #2ec4b6;

$border-color: lighten($dark, 50%);

$classicBlue: #0f4c81;
$info: #2ec4b6;
$success: #3bae6b;
$warning: #ff9f1c;

$serif: "Roboto Condensed", serif;
$sans-serif: "Lato", sans-serif;
