@import "../../App.scss";

.my-work {
  text-align: center;

  .my-work__wrapper {
    background-color: $clr-dark;
    color: $clr-light;

    .section__subtitle--work {
      color: $clr-accent;
      font-size: $fs-h4;
      font-weight: $fw-bold;
      margin-bottom: 2em;
    }
  }

  .portfolio {
    max-width: 1500px;
    margin: 0 auto;
  }
}
